# clj
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.cpcache/

# cljs
/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

